<html>
	<head>
	<meta charset="utf-8">
	<title>Best Search Engine!</title>
	<style>
		h1 {text-align: center;}
		h2 {text-align: center;}
		h3 {text-align: left;}
		p {text-align: center;}
		table {
  			font-family: Comic Sans MS, Comic Sans;
  			border-collapse: collapse;
  			width: 100%;
		}
		th {
  			text-align: left;
  			border-bottom: 1px solid black
		}
		tr {
  			border-bottom: 1px solid #ddd;
		}
		tr:hover {background-color: #D6EEEE;}
	</style>
	</head>

	<body style="background-color:pink;">
	<h2><p style="font-family:Comic Sans MS, Comic Sans, cursive">Enter URL of a Wikipedia article!
	<form>
		<input type="text" name="query" autofocus>
		<input type="submit" value="Search">
	</p></h2>

	<h3>Results:</h3>
	<table>
	<tr>
	<td>Language:<td>
	<td>Name:<td>
	<td>Length:<td>

	</tr>
	{%for item in matches%}
	<tr>
	<td>{{item[0]}}<td>
	<td>{{item[1]}}<td>
	<td>{{item[2]}}<td>

	</tr>
	
	{%endfor%}
	</table>
    <p> <img src="{{url_for('static', filename='graphimage.png')}}"></p>
    <!img src="./plots/graphimage.png" style="width: 400px; height 100%">
	</body>

</html>
